
.game-settings {
  width: 80%;
  margin: auto;

  .world {

    .range {
      float: left;
      margin: 1em;
    }
  }

  .bonuses {
    clear: left;

    .gauge {
      float: left;
      position: relative;
      margin: 1em;

      canvas {
        position: absolute;
        top: 75px;
        left: 75px;
      }
    }
  }
}
